configuration {
    /* --- General --- */
    modi: "drun,run,window";
    show-icons: true;
    terminal: "kitty";

    /* --- Display --- */
    drun-display-format: "{icon} {name}";
    display-drun: "󰀻  Apps";
    display-run: "󱓞  Run";
    display-window: "󱂬  Window";

    /* --- Window Behavior --- */
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";

    /* --- Keybindings --- */
    kb-move-char-back: "Control+b";
    kb-move-char-forward: "Control+f";
    kb-row-left: "Left";
    kb-row-right: "Right";

    /* --- Misc --- */
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: true;
}

@theme "~/.config/rofi/style.rasi"
