:root {
  --base-color: #084742;
  --nav-border-color: #756f58;
  --toolbox-max-height: 100vh;
  --toolbox-min-height: 3vh;
}

* {
  font-family: "monospace";
}

#titlebar {
  display: none;
}

.urlbar-input-box {
  text-align: center;

}

.browserContainer browser {
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
}

/* Remove fullscreen warning border */
#fullscreen-warning {
  border: none !important;
  background: -moz-Dialog !important;
}

/* Hide URL bar when not focused */
#urlbar:not([focused]) #urlbar-background {
  opacity: 0 !important;
  transition: opacity 0.1s ease-in-out !important;
}

/* Collapse toolbox */
#navigator-toolbox {
  display: flex;
  flex-direction: column;
  max-height: var(--toolbox-min-height);
  overflow: hidden;
  transition: max-height 2s ease-in-out 0.2s !important;
  border-color: var(--base-color) !important;
  background-color: var(--base-color) !important;
}

/* Hide toolbox elements */
#navigator-toolbox > * {
  opacity: 0;
  transition: opacity 1.9s ease-in !important;
}

/* On hover, show toolbox */
#navigator-toolbox:hover {
  max-height: var(--toolbox-max-height);
  transition: max-height 0s !important;
}

/* On hover, show toolbox elements */
#navigator-toolbox:hover > * {
  opacity: 1;
  transition: opacity 0s !important;
}

/* On hover, show toolbox elements when window is active */
#navigator-toolbox:hover:-moz-window-inactive > * {
  opacity: 1 !important;
}

/* Hide toolbox elements when window is active */
#navigator-toolbox:-moz-window-inactive > * {
  opacity: 0 !important;
}

#nav-bar {
  order: 1;
  margin: 3px;
  border-radius: 15px;
  border: 1px solid var(--nav-border-color) !important;
}

#TabsToolbar {
  order: 2;
}

/* Bookmarks */
#PersonalToolbar {
  order: 3;
  background-color: var(--base-color)!important;
  padding: 3px 0 !important;
}
